*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #ffd900;
    color: #fff;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.container img{
    width: 100%;
}
.sidebar{
    width: 20%;
    background-color: #7c7c7c;
}
.right{
 width: 80%;
}


.footer{
    background-color:  #4C4C4C;
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}